.local-video-wrapper{

}
#localVideo{

}
.video-wrapper{
    position: relative;
    max-width: 100vw;
    height: 100vh;
    background: black;
}
#remoteVideo{
    max-width: 100vw;
    height: 100vh;
    background: black;
    margin: 0 auto;
    display: block;
}
@media screen and (max-width:480px){
    .video-wrapper{
        position: relative;
        max-width: 100vw;
    }
    #remoteVideo{
        height: 480px;
    }
    #localVideo{
        height: 80px;
    }
}