body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;
}
#root{
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.enter-room-container{
  margin: auto;
}